<p id="notice"><%= notice %></p>

<h1>Pieces</h1>

<%= form_tag(pieces_path, method: :get, enforce_utf8: false) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Gis Identifier</th>
      <th>Condition</th>
      <th>Evaluated</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Type</th>
      <th>Division</th>
      <th>Suburb</th>
      <th>Model</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pieces.each do |piece| %>
      <tr>
        <td><%= link_to piece.description, piece %></td>
        <td><%= link_to piece.gis_identifier, piece %></td>
        <td><%= piece.condition %></td>
        <td><%= piece.evaluated %></td>
        <td><%= piece.lat %></td>
        <td><%= piece.long %></td>
        <td><%= link_to piece.type.name, piece.type %></td>
        <td><%= link_to piece.division.name, piece.division %></td>
        <td><%= link_to piece.suburb.name, piece.suburb %></td>
        <td><%= link_to piece.model.number, piece.model %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece', new_piece_path %>
