<p id="notice"><%= notice %></p>

<h1>Pieces</h1>

<%= form_tag(pieces_path, method: :get, enforce_utf8: false) do %>
  <%=
    text_field_tag :query, 
    params[:query]
  %>
  <%=
    select_tag "type",
    options_from_collection_for_select(Type.all, 'id', 'name', params[:type]),
    :prompt => "Any Type" %>
  <%=
    select_tag "division",
    options_from_collection_for_select(Division.all, "id", "name", params[:division]),
    :prompt => "Any Division"
  %>
  <%=
    select_tag "suburb",
    options_from_collection_for_select(Suburb.all, "id", "name", params[:suburb]),
    :prompt => "Any Suburb"
  %>
  <%=
    select_tag "model",
    options_from_collection_for_select(Model.all, "id", "name", params[:model]),
    :prompt => "Any Model"
  %>
  <%=
    submit_tag 'Search',
    name: nil
  %>
<% end %>

<br>



<% if @pieces.blank? %>
  <h4>There are no pieces matching your search</h4>
<% else %>
  <table>
    <thead>
      <tr>
        <% piece_fields.each do |_, f| %>
          <td>
          <% sorting_by_field = params[:sort_by] == f[:query_string]%>
          <% indicator = sorting_by_field ? "  #{sort_arrow(params[:sort_dir])}": ''%>
            <%=
              link_to "#{f[:title]}#{indicator}",
              request.query_parameters.merge({
                :sort_by => f[:query_string],
                :sort_dir => (sorting_by_field ? invert(params[:sort_dir]) : :ASC)
              })
            %>
          </td>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @pieces.each do |piece| %>
        <tr>
          <td><%= link_to piece.gis_identifier, piece %></td>
          <td><%= link_to piece.description, piece %></td>
          <td><%= piece.condition %></td>
          <td><%= piece.evaluated %></td>
          <td>
            <%=
              link_to piece.type.name,
              :controller => "pieces",
              :type_id => piece.type
            %>
          </td>
          <td>
            <%=
              link_to piece.model.name,
              :controller => "pieces",
              :model_id => piece.model
            %>
          </td>
          <td>
            <%=
              link_to piece.division.name,
              :controller => "pieces",
              :division_id => piece.division
            %>
          </td>
          <td>
            <%=
              link_to piece.suburb.name,
              :controller => "pieces",
              :suburb_id => piece.suburb
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
