<p id="notice"><%= notice %></p>

<p>
  <strong>GIS Identifier:</strong>
  <%= @piece.gis_identifier %>
</p>

<p>
  <strong>Description:</strong>
  <%= @piece.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @piece.condition %>
</p>

<p>
  <strong>Evaluated:</strong>
  <%= @piece.evaluated %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @piece.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @piece.long %>
</p>

<p>
  <strong>Type:</strong>
  <%= @piece.type.name %>
</p>

<p>
  <strong>Division:</strong>
  <%= @piece.division.name %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @piece.suburb.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @piece.model.name %>
</p>

<%= link_to 'Back', pieces_path %>
